/* Clearfix */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}

nav {
    border-radius: 10px;
	height: 40px;
	width: 100%;
	background: #3D3242;
	position: relative;
    margin-bottom: 10px;
    font-family: 'Handlee', cursive;
}
nav ul {
	padding: 0;
	margin: 0 auto;
	width: 600px;
	height: 40px;
}
nav a {
	color: #fff;
	display: inline-block;
	width: 100px;
	text-align: center;
	text-decoration: none;
	line-height: 40px;
}
nav a:active {
	background-color: #B95835;
    border-radius: 10px;
}
nav a#pull {
	background: #7A3E48;
    border-radius: 10px;
	display: none;
}
nav li {
    display: block;
    float: left;
}

/*Styles for screen 600px and lower*/
@media screen and (max-width: 600px) {
	nav {
  		height: auto;
  	}
	nav li {
		display: block;
		float: none;
		width: 100%;
	}
  	nav ul {
  		width: 100%;
  		display: block;
  		height: auto;
  	}
  	nav a {
	  	text-align: left;
	  	width: 100%;
	  	text-indent: 25px;
  	}
}

/*Styles for screen 515px and lower*/
@media only screen and (max-width : 480px) {
	nav {
		border-bottom: 0;
	}
	nav li {
		display: block;
		float: none;
		width: 100%;
	}
	nav ul {
		display: none;
		height: auto;
	}
	nav a#pull {
		display: block;
		width: 100%;
		position: relative;
	}
	nav a#pull:after {
		content:"";
		background: url('nav-icon.png') no-repeat;
		width: 30px;
		height: 30px;
		display: inline-block;
		position: absolute;
		right: 15px;
		top: 10px;
	}
}

/*Smartphone*/
@media only screen and (max-width : 320px) {
	nav li {
		display: block;
		float: none;
		width: 100%;
	}
	nav li a {
		border-bottom: 1px solid #576979;
	}
}
