@import url(https://fonts.googleapis.com/css?family=Bad+Script);
@import url(https://fonts.googleapis.com/css?family=Handlee);

.wrap {
    border: 2px solid #eecd86;
    border-radius: 10px;
    padding: 1%;
    margin: auto;
    width : 98%;
    max-width : 600px;
    overflow: auto;
}

#game_map{
    clear: both;
    width: 100%;
}

#game_map .easy{
    margin: 0.5%;
    padding-bottom: 19%;
    width: 19%;
    font-size: 1.75em;
    font-weight: bold;
}

#game_map .medium{
    margin: 0.4%;
    padding-bottom: 13.48%;
    width: 13.48%;
    font-size: 1.25em;
    font-weight: bold;
}

#game_map .hard{
    margin: 0.3%;
    padding-bottom: 10.5%;
    width: 10.5%;
    font-size: 1em;
}

#game_map .cell{
    cursor: pointer;
    float: left;
    border-radius: 5px;
    height: 0;
    position: relative;
    font-family: 'Bad Script', cursive;
    background: #eecd86;
    text-align: center;
}

.clear{
    clear: both;
    line-height: 0px;
}

#game_map .filled{
    background: #7a3e48;
}

#game_map .empty{
    background: #eecd86;
}

#game_map .hover{
    background: #DFE1E3;
}

.end_game{
    display: none;
}

.copyright {
    border-top: 2px solid #7a3e48;
    padding-top: 10px;
    margin-top: 40%;
}

a {
    text-decoration: none;
    color: #E18942;
}

h3 {
    margin-top: 0px;
    text-align: left;
    border-bottom: 2px solid #7A3E48;
}

.navlink {
    margin-top: 10px;
    text-align: center;
    background: #eecd86;
    border-radius: 10px;
    color: #000;
    line-height: 3.5em;
    font-weight: bold;
    display: block;
}

.btn {
    border-radius: 10px;
    border: none;
    color: #FFF;
    font-family: 'Handlee', cursive;
    font-size: 1em;
    font-weight: bold;
    line-height: 2em;
    background: #7A3E48;
    padding: 5px 10px;
    margin: 1%;
    text-decoration: none;
    min-width: 75px;
    width: 30.9%;
}

.btn:active {
    background: #E18942;
    text-decoration: none;
    outline: none;
}

.btn a {
    text-decoration: none;
    color: #fff;
}

#puzCount {
    font-family: 'Handlee', cursive;
    font-size: 0.5em;
    font-style: bold;
    color: #fff;
    float: right;
    line-height: 2em;
    padding-right: 10px;
    padding-top: 10px;
    font-weight: bold;
}

.overlay {
    visibility: hidden;
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    width:100%;
    height:0;
    z-index: 1000;
	background: rgba(0,0,0,0.90);
}

.overlay div {
    font-family: 'Handlee', cursive;
    border-radius: 10px;
    width:300px;
    position: relative;
    margin: 100px auto;
    background-color: #fff;
    border: 2px solid #7A3E48;
    padding: 15px 15px 15px 15px;
    text-align: center;
    height:inherit;
}

.close {
    position: absolute;
    border-radius: 5px;
    top: 5px;
    right: 5px;
    color: #000;
    font-size: 1.2em;
    padding: 1px 8px;
}

.overlay div ul li{
    text-align: left;
}

nav {
    border-radius: 10px;
	height: 40px;
	width: 100%;
	background: #7a3e48;
	position: relative;
    margin: 0 auto 10px auto;
    padding: 0 10px;
    font-family: 'Handlee', cursive;
    font-size: 1.2em;
    font-weight: bold;
    max-width: 600px;
}

nav a {
	color: #fff;
	display: inline-block;
	width: 100px;
	text-decoration: none;
	line-height: 40px;
	text-align: center;
}
nav a:active {
	background-color: #B95835;
    border-radius: 10px;
}

@media (max-width: 1200px) {
    #game_map {
        max-width: 100%;
    }
    .btn {
        width: 30.5%;
    }
}

@media screen and (max-width: 600px) {
	nav {
        padding: 0;
  	}
/*
    nav a {
	  	width: 100%;
  	}
*/
}
